.button {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-transform: uppercase;
  background: #8A2387; 
  background: -webkit-linear-gradient(to right, #F27121, #E94057, #8A2387);  
  background: linear-gradient(to right, #F27121, #E94057, #8A2387); 
  padding: 1rem 3rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Times New Roman', Times, serif;
  text-align: center;
  font-size: 1.5rem; 
  font-weight: bold;
}


.button:disabled {
  background: #696969;
  cursor: not-allowed;
}